/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
    list-style: none;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    box-sizing: border-box;
}

p {
    font-weight: 400;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

h4, input, button {
    font-size: 18px;
    font-weight: 700;
}

/******** Header **********/
/* nav */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 60px;
}

.navbar img {
    width: 61px;
    height: 19px;
    padding-top: 30px;
}

.navbar ul {
    display: flex;
    justify-content: space-between;
    padding-left: 0;
    margin-top: 20px;
    gap: 70px;
}

.navbar li {
    position: relative;
}

.navbar li:hover {
    color: var(--main-color);
}

.navbar li:hover:before {
    content:"";
    width: 100%;
    height: 2px;
    position: absolute;
    background: var(--main-color);
    transform: translateY(-20px);
}

/* search-bar */
.search-bar {
    display: flex;
    margin: 30px 0;
    align-items: center;
    height: 49px;
}

.search-bar input {
    text-align: center;
    border: 1px solid var(--main-bg-color);
    border-right: 0;
    border-left: 0;
    outline: none;
    height: 100%;
    box-sizing: border-box;
}

.search-bar input::placeholder, .fa-location-dot {
    color: black;
}

.location-icon {
    padding: 15px 18px;
    background-color: var(--main-bg-color);
    border: 1px solid var(--main-bg-color);
    border-radius: 15px 0 0 15px;
    color: black;
    box-sizing: border-box;
    height: 100%;
}

.search-bar button {
    text-align: center;
    padding: 0 16px;
    background-color: var(--main-color);
    border-radius: 0 15px 15px 0;
    color: #FFFFFF;
    border: 1px solid var(--main-color);
    box-sizing: border-box;
    height: 100%;
}

#button-icon i {
    color: var(--main-bg-color);
}

#button-icon {
    border-radius: 15px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    margin-left: -15px;
    display: none;
}

/* filters */
.filters {
    display: flex;
    align-items: center;
    width: 100%;
}

.filters-bar {
    display: flex;
    height: 50px;
    gap: 15px;
    padding-left: 15px;
}

.filters-bar li {
    display: flex;
    align-items: center;
    flex-direction: row;
    font-size: 17px;
    font-weight: 700;
    border: 2px solid var(--main-bg-color);
    padding: 14px 19px;
    border-radius: 25px;
}

.filters-bar i {
    padding-right: 10px;
}

.filters-bar li:hover {
    background-color: var(--filter-bg-color);
}

/* infobar */
.infobar {
    display: flex;
    align-items: center;
    margin-bottom: 35px;
}

.infobar img {
    border: 1px solid var(--main-bg-color);
    padding: 7px 10px;
    border-radius: 25px;
    margin-right: 10px;
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
    box-sizing: border-box;
}

.hebergements a {
    width: 30.5%;
}

.hebergements-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.hebergements-cards .card {
    margin-top: 33px;
    height: 207.25px;
}

.hebergements-cards img {
    height: 115px;
    width: 100%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.hebergements-cards .card-content {
    padding-left: 15px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.hebergements-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.hebergements-cards .card-subtitle {
    margin: 0;
}

.hebergements-cards .card-rating {
    margin-bottom: 5px;
}

.hebergements-cards h4 {
    margin-top: 30px;
    margin-bottom: 0;
}

/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

/* Activités */
.activities {
    padding: 30px;
    width: 100%;
    box-sizing: border-box;
}

.activities h2 {
    margin-top: 30px;
    margin-bottom: 30px;
}

.activities-cards a {
    width: 23%;
}

.activities-cards {
    display: flex;
    justify-content: space-between;
}

.a-card {
    height: 439px;
    background-color: white;
    border-radius: 20px;
    filter: drop-shadow(0px 3px 5px rgba(0, 0, 0, 0.1));
    box-sizing: border-box;
}

.a-card img {
    height: 380px;
    width: 100%;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
}

.a-card h3 {
    padding-left: 15px;
    height: 50px;
    display: table-cell;
    vertical-align: middle;
}

/* Footer */
footer {
    background-color: var( --main-bg-color);
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}

footer div {
    padding-left: 20px;
    width: 100%;
}

footer div h4 {
    margin-bottom: 15px;
}

footer div ul {
    padding-left: 0;
}

footer li {
    margin-bottom: 15px;
}

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .filters {
        display: block;
    }

    .filters-bar {
        padding-left: 0;
    }

    .filters-bar li {
        font-size: 16px;
    }

    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }

    .a-card {
        height: 270px;
    }

    .a-card img {
        height: 200px;
    }

    .a-card h3 {
        height: 61px;
    }
}

/* Small devices (phones, less than 768px) */
@media (min-width: 320px) and (max-width: 767.98px) {
    .main-container {
        padding: 0;
    }

    header {
        padding: 0 20px;
    }
    
    .navbar {
        flex-direction: column;
    }

    .navbar ul {
        margin-top: 30px;
        width: 100%;
        justify-content: center;
        text-align: center;
        gap: 0;
    }

    .navbar li {
        width: 50%;
    }

    .navbar li:hover:before {
        width: calc(100% + 50px);
        transform: translateY(30px);
    }

    .navbar li:nth-child(1):hover:before {
        left: -50px;
    }

    .navbar li:nth-child(2):hover:before {
        left: 0;
    }

    #button-text {
        display: none;
    }

    #button-icon {
        display: block;
    }

    .search-bar {
        justify-content: center;
        min-width: 320px;
    }

    .search-bar input {
        width: 100%;
        text-align: left;
        padding-left: 20px;
    }

    .filters {
        display: block;
    }

    .filters-bar {
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding-left: 0;
        height: 115px;
    }

    .filters-bar li {
        font-size: 14px;
        padding-right: 0px;
    }

    .hebergements-and-populaires {
        flex-direction: column-reverse;
    }

    .hebergements-and-populaires section {
        border-radius: 0;
    }

    .hebergements-and-populaires section:nth-child(1) {
        background-color: white;
    }

    .populaires {
        margin-top: 0;
    }

    .populaires-cards {
        flex-direction: column;
    }

    .populaires-cards a {
        width: 100%;
    }

    .populaires-cards .card {
        margin-top: 15px;
    }

    .hebergements-cards {
        flex-direction: column;
    }

    .hebergements-cards a {
        width: 100%;
    }

    .hebergements-cards .card {
        margin-top: 15px;
        filter: drop-shadow(0px 3px 5px rgba(0, 0, 0, 0.1));
    }

    .activities-cards {
        flex-direction: column;
        gap: 15px;
    }

    .activities-cards a {
        width: 100%;
    }

    .a-card {
        height: 200px;
    }

    .a-card img {
        height: 141px;
    }

    .a-card h3 {
        height: 50px;
    }

    footer {
        display: block;
        padding-bottom: 15px;
    }

    footer div {
        padding-top: 15px;
        padding-left: 30px;
    }
}